---
ip: "172.22.22.22"
memory: 1024
cpus: 1

do_default_map: true

sites:
  - domain: zen.local
    dir: v160
    skeleton: apache.default
    github: https://github.com/zencart/zc-v1-series.git
    branch: v160
