---
ip: "172.22.22.22"
memory: 1024
cpus: 1

sites:
  - domain: zen.local
    dir: v160
    skeleton: apache.default
    git_url: https://github.com/zencart/zc-v1-series.git
    branch: v160
  - domain: devdocs.local
    dir: devdocs
    skeleton: apache.default
    git_url: https://github.com/zencart/documentation.git
    branch: master

## Optional: If you need to override or set a different document-root, add a "docroot: /public" to one of the 'sites' definitions above. 

do_default_map: true

## Optional to override folder mapping to a location other than the habitat/web folder on the local PC:
#folders:
#  - map: /pc_folder/path
#    to: /home/vagrant/web/
#    create: true


# Optional to add your own public and private key configs ... so you can connect to github/bitbucket logged in as yourself

authorize: ~/.ssh/id_rsa.pub
keys:
  - ~/.ssh/id_rsa


