---
ip: "172.22.22.22"
memory: 2048
cpus: 1

do_default_site: true
do_default_map: true

sites: 
  - skeleton: apache.default
    domain: v150.local
    dir: v150
    github: https://github.com/zencart/zc-v1-series.git
    branch: v150-release
